h1 {
	font-family: helvetica;
	text-shadow: 2px 2px slategray;
}

/*#contras, h1 {

}*/

.billboard {
	position: relative;
	height: 400px;
}

.topright {
	position: absolute;
	top: 8px;
	right: 16px;
	color: white;
	font-family: helvetica;
	font-weight: bold;
}

#portrait {
	width: 300px;
}

body {
	text-align: center;
	margin-top: 10px;
	color: white;
	background-color: gray;
	font-family: helvetica;
	font-weight: normal;
	text-shadow: 1px 1px slategray;
}

#about_page {
	background-image: url("defenceministry.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#all_about {

	/*text-align: left;*/
	background-color: inherit;
	opacity: 0.3;
	filter: alpha(opacity=40);
	/*height: 300px;*/
	width: intrinsic;           /* Safari */
	width: -moz-max-content;    /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	background-color: black;
	/*text-align: center;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	padding: 1em;
}


footer {
	position:center;
	font-size:10pt;
	margin-bottom:10em;
	border-top:2px solid #888;
}

a:link {
    color: white;
}

a:visited {
    color: lightgray;
}

a:hover {
    color: pink;
}

a:active {
    color: blue;
}
