h1 {
	font-family: helvetica;
	text-shadow: 1px 1px slategray;
	/*margin-top: auto;*/
}

a {
	text-decoration: none;
}

ul.topnav, ul.bottomnav {
	position: fixed;
	width: 100%;
	list-style: none;
  margin: 0;
  padding-left: 0;
  background-color: rgba(50,60,55,.6);
}

ul.topnav {
	top: 0;
}

ul.bottomnav {
	bottom: 0;
}

ul.topnav li {
	float: left;
}

ul.bottomnav li {
	display: inline-block;
}


ul.topnav li a,
ul.mobilenav a,
.mobilenav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
		border-right: 1px solid rgba(50, 60, 55, 1);
}


/*ul.topnav li a:last-child {
	border-right: none;
}*/

ul.topnav li ul.topright,
ul.topnav li.topright {
	float: right;
	display: block;
	/*font-family: helvetica;*/
	font-size: 1em;
	list-style: none;
}

ul.topnav li a:hover:not(.active),
.bottomnav a:hover:not(.active),
#project_gallery .showoff ul li a:hover:not(.active),
.mobilenav li:hover:not(.active),
#mobiletopnav a:hover:not(.active) {
	background-color: rgba(200,20,20,.4);
}

ul.topnav li a.active {
	background-color: rgba(20,200,20,1);
}

.mobilenav {
	margin: 0;
	padding-left: 0;
	background-color: rgba(10,60,55,.6);
	display: none;
	list-style: none;
	vertical-align: baseline;;
	width: 100%;
}

.mobilenav li,
.mobilenav li a {
	display: block;
	padding: 0.4em;
	width: 100%;
	vertical-align: top;
}

@media screen and (max-width: 40em){
    /*ul.topnav li.topright,*/
    /*ul.topnav li, ul.topnav li a,*/
		/*ul.bottomnav li, ul.bottomnav li a,*/
		/*ul.topnav li.topright ul.topright {*/
			/*float: none;*/
			/*padding: .3em;*/
		/*}*/
		.topnav {
			display: none;
		}
		.mobilenav {
			display: inline-block;
		}
		.panes {
			display: inline-table;
			vertical-align: top;
			padding: .3em;
			margin-top: 12em;
		}
		#main_page {
			font-weight: normal;
		}
		#bio p, #bio img {
			float: none;
		}
}

#portrait {
	width: 20em;
}

body {
	text-align: center;
	/*margin-top: 5em;*/
	margin-left: 0;
	margin-right: 0;
	color: white;
	background-color: gray;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: helvetica;
	font-weight: lighter;
	text-shadow: 1px 1px #333;
}

#main_page {
	background-image: url("assets/defenceministry.jpg");
}

#about_page {
	background-image: url("assets/contras.jpg");
}

#contact_page {
	background-image: url("assets/radoback.jpg");
}


.panes {
	display: inline-block;
	vertical-align: top;
	margin: 2em;
	width: intrinsic;           /* Safari */
	width: -moz-max-content;    /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
}

#all_about {
	/*float: left;*/
	/*text-align: left;*/
	max-width: 20em;
	padding: 1em;
	background-color: rgba(0,40,50,.4);
	border:1px solid rgba(0,40,50,.5);
	margin: 1em;
}

#bio p {
	/*background-color: yellow;*/
	max-width: 20em;
	text-align: left;
	float:left;
	padding: 3em;
}

#bio img {
	/*float:right;*/
	/*border: 3px solid red;*/
}

#works, #project_gallery, #bio {
	/*position: relative;*/
	/*float: right;*/
	/*text-align: right;*/
	/*max-width: 20em;*/
	width: 70vw;
	padding: 1em;
	background-color: rgba(0,40,50,.5);
	border:1px solid rgba(0,40,50,.6);
	margin: 1em;
	list-style-type: none;
}

#project_gallery li img, #project_gallery li  {
	width: 200px;
	float: left;
	text-align: left;
	display: inline-block;
}

.showoff {
	display: inline-block;
	/*background-color: blue;*/
}

.showoff li a {
	display:block;
	background-color: rgba(0, 40, 50, 0.7);
	padding: 0.5em;
	border: 1px solid rgba(20, 40, 50, 0.9);
}

.showoff li p {
	padding-left: 1em;
}
/*footer {
	position:fixed;
	width: 100%;
	margin: auto;
	bottom:0;
	font-size:1em;
	background-color: #111111;
}*/


a:link {
	color: white;
}

a:visited {
	color: lightgray;
}

a:hover {
	color: pink;
}

a:active {
	color: red;
}
