h1 {
	font-family: helvetica;
	text-shadow: 2px 2px slategray;
}


ul.topnav {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
	float: left;
}

/*ul.topnav li.topright {
	float: right;
}*/

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

ul.topnav li.topright {
	float: right;
	/*display: block;*/
	/*text-align: center;*/
	/*padding: 0em .6em 0em .6em;*/
	font-family: helvetica;
	font-size: 1em;
	font-weight: bold;
	font-style: oblique;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

@media screen and (max-width: 600px){
    ul.topnav li.topright,
    ul.topnav li {float: none;}
}


#portrait {
	width: 300px;
}

body {
	text-align: center;
	margin-top: 10px;
	color: white;
	background-color: gray;
	font-family: helvetica;
	font-weight: normal;
	text-shadow: 1px 1px slategray;
}

#main_page {
	background-image: url("assets/contras.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#about_page {
	background-image: url("assets/defenceministry.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#contact_page {
	background-image: url("assets/radoback.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}


.panes {
	display: inline-block;
	vertical-align: top;
	margin: 1em;
}

#all_about {
	width: intrinsic;           /* Safari */
	width: -moz-max-content;    /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	float: left;
	text-align: left;
	background-color: rgba(0,40,50,.4);
	padding: 1em;
	border:1px solid rgba(0,40,50,.5);
	margin: 1em;
}

#works {
	width: intrinsic;           /* Safari */
	width: -moz-max-content;    /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	/*position: relative;*/
	float: right;
	text-align: right;
	padding: 1em;
	background-color: rgba(0,40,50,.3);
	border:1px solid rgba(0,40,50,.4);
	margin: 1em;
	list-style-type: none;
}

footer {
	position:fixed;
	width: 100%;
	margin: auto;
	bottom:0;
	font-size:1em;
	/*background-color: #111111;*/
}


a:link {
	color: white;
}

a:visited {
	color: lightgray;
}

a:hover {
	color: pink;
}

a:active {
	color: blue;
}
