h1 {
	font-family: helvetica;
	text-shadow: 1px 1px slategray;
	/*margin-top: auto;*/
}

a {
	text-decoration: none;
}

ul.topnav, ul.bottomnav {
	position: fixed;
	width: 100%;
	list-style: none;
  margin: 0;
  padding-left: 0;
  background-color: rgba(50,60,55,.6);
}

ul.topnav {
	top: 0;
}

ul.bottomnav {
	bottom: 0;
}

ul.topnav li {
	float: left;
}

ul.bottomnav li {
	display: inline-block;
}


ul.topnav li a,
ul.bottomnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
		border-right: 1px solid rgba(50, 60, 55, 1);
}


/*ul.topnav li a:last-child,
ul.bottomnav li a:last-child {
	border-right: none;
}*/

ul.topnav li.topright {
	float: right;
	display: block;
	/*text-align: center;*/
	/*padding: 0em .6em 0em .6em;*/
	font-family: helvetica;
	font-size: 1em;
	font-weight: bold;
	font-style: oblique;
}

ul.topnav li a:hover:not(.active),
ul.bottomnav li a:hover:not(.active) {
	background-color: rgba(200,20,20,.4);
}

ul.topnav li a.active {
	background-color: rgba(20,200,20,1);
}

@media screen and (max-width: 600px){
    ul.topnav li.topright,
    ul.topnav li, ul.topnav li a,
		ul.bottomnav li, ul.bottomnav li a {
			float: none;
			padding: .3em;
		}
}

@media screen and (max-width: 700px){
    .panes {
			display: inline-table;
			vertical-align: none;
			padding: .3em;
		}
}


#portrait {
	width: 20em;
}

body {
	text-align: center;
	margin-top: 5em;
	margin-left: 0;
	margin-right: 0;
	color: white;
	background-color: gray;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: helvetica;
	font-weight: lighter;
	text-shadow: 1px 1px #333;
}

#main_page {
	background-image: url("assets/contras.jpg");
}

#about_page {
	background-image: url("assets/defenceministry.jpg");
}

#contact_page {
	background-image: url("assets/radoback.jpg");
}


.panes {
	display: inline-block;
	vertical-align: top;
	/*margin: 1em;*/
	width: intrinsic;           /* Safari */
	width: -moz-max-content;    /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
}

#all_about {
	float: right;
	text-align: left;
	padding: 1em;
	background-color: rgba(0,40,50,.4);
	border:1px solid rgba(0,40,50,.5);
	margin: 1em;
}

#bio {
	float: left;
	text-align: justify;
	padding: 1em;
	max-width: 20em;
	background-color: rgba(0,40,50,.4);
	border:1px solid rgba(0,40,50,.5);
	margin: 1em;
}

#works, #project_gallery {
	position: relative;
	float: right;
	text-align: right;
	padding: 1em;
	background-color: rgba(40,40,10,.5);
	border:1px solid rgba(80,80,80,.2);
	margin: 1em;
	list-style-type: none;
}

#project_gallery li img {
	width: 200px;
	/*float: left;*/
	/*text-align: left;*/
}

footer {
	position:fixed;
	width: 100%;
	margin: auto;
	bottom:0;
	font-size:1em;
	background-color: #111111;
}


a:link {
	color: white;
}

a:visited {
	color: lightgray;
}

a:hover {
	color: pink;
}

a:active {
	color: red;
}
