h1 {
	font-family: helvetica;
	text-shadow: 2px 2px slategray;
}

#billboard {
	position: relative;
	background: url("assets/contras.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 50vw;
}


.topright {
	position: absolute;
	top: 8px;
	right: 16px;
	color: white;
	font-family: helvetica;
	font-weight: bold;
}

#portrait {
	width: 300px;
}

body {
	text-align: center;
	margin-top: 10px;
	color: white;
	background-color: gray;
	font-family: helvetica;
	font-weight: normal;
	text-shadow: 1px 1px slategray;
}

#about_page {
	background-image: url("assets/defenceministry.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#contact_page {
	background-image: url("assets/radoback.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}


.panes {
	display: inline-block;
	vertical-align: top;
	margin: 1em;
}

#all_about {
	width: intrinsic;           /* Safari */
	width: -moz-max-content;    /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	float: left;
	text-align: left;
	background-color: rgba(0,40,50,.3);
	padding: 1em;
	border:1px solid rgba(0,40,50,.4);
	margin: 1em;
}

#works {
	width: intrinsic;           /* Safari */
	width: -moz-max-content;    /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	/*position: relative;*/
	float: right;
	text-align: right;
	padding: 1em;
	background-color: rgba(0,40,50,.3);
	border:1px solid rgba(0,40,50,.4);
	margin: 1em;
	list-style-type: none;
}

footer {
	position:center;
	font-size:10pt;
	margin-bottom:10em;
	border-top:2px solid #888;
}


a:link {
	color: white;
}

a:visited {
	color: lightgray;
}

a:hover {
	color: pink;
}

a:active {
	color: blue;
}
